<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">
        {{ title }}
      </h1>
      <div class="card-content has-text-centered">
        <div class="content text">{{ text }}</div>
      </div>
      <div class="card-content">
        <input class="input is-info" type="text" #inputText />
      </div>
      <div class="card-content has-text-centered">
        <div class="content">You win!</div>
      </div>
    </div>
  </div>
</div>
