<div class="container">
  <div class="row justify-content-center text-center">
    <header class="title">Payment Form</header>
    <div class="form-group col">
      <label for="name">Receiver Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
        #name
        (input)="onNameChange(name.value)"
      />
      <label for="payment">Payment Date</label>
      <input
        type="date"
        class="form-control"
        placeholder="Payment Date"
        aria-label="Payment Date"
        #paymentDate
        (input)="onDateChange(paymentDate.value)"
      />
      <label for="amount">Amount</label>
      <input
        type="number"
        class="form-control"
        placeholder="Amount"
        aria-label="Amount"
        #amount
        (input)="onAmountChange(amount.value)"
      />
      <label for="height">Height</label>
      <input
        type="number"
        class="form-control"
        placeholder="Height"
        aria-label="Height"
        #height
        (input)="onHeightChange(+height.value)"
      />
      <label for="miles">Miles</label>
      <input
        class="form-control"
        placeholder="miles"
        aria-label="miles"
        #miles
        (input)="onMilesChange(miles.value)"
      />
    </div>
    <div class="col">
      <label for="name"><strong>Receiver Name</strong></label>
      <div>{{ inputName | titlecase }}</div>
      <br />
      <label for="paymentDate"><strong>Payment Date</strong></label>
      <div>{{ inputDate | date: "longDate" }}</div>
      <br />
      <label for="amount"><strong>Amount</strong></label>
      <div>{{ inputAmount | currency }}</div>
      <br />
      <label for="height"><strong>Height</strong></label>
      <div>{{ inputHeight | number: "1.1-2" }}</div>
      <br />
      <label for="miles"><strong>Kilometers</strong></label>
      <div>
        {{ inputMiles | convert: "cm" }}
      </div>
    </div>
  </div>
</div>
